body{
     height: 100%;
}
.main_div{
     margin-bottom:0px;
}
.welcome {
    background-color: #01c7b6;
    color: white;
    padding-left: 50px !important ;
    padding-right: 50px !important ;
   
}
.wel_head{
     padding:30px 0px 0px 0px !important;
}

@media only screen and (min-width :600px){
     .welcome,.login{
	  height: 100%;
     }
}

/*sign up*/
#Sign_up {
    background-color: #01c7b6;
}

#Sign_up .input-field input[type=text]:focus {
    border-bottom: 1px solid #757575;
}

#Sign_up .input-field input[type=password]:focus {
    border-bottom: 1px solid #757575;
}

#Sign_up .input-field label {
    color: white;
}

#Sign_up .input-field input {
    border-bottom: 1px solid white;
}

#signupbtn{
     padding-top:15px;font-size:20px;
}
#Sign_up .input-field input[type=text]:focus+label {
    color: #757575;
}

#Sign_up .input-field input[type=password]:focus+label {
    color: #757575;
}

#login_form .input-field label {
    color: #757575;
}

#login_form .input-field input {
    border-bottom: 1px solid #757575;
}

.login{
     padding:0px 50px 0px 50px !important;
}
.login_head{
     padding:130px 0px 20px 0px !important;
}
#loginbtn{
     padding-top:15px;font-size:20px;
}
.forgot{
     font-size:18px; 
}